body {
    width: 5000px;
    height: 1500px;
}

header {
}

.button {
}

.button button {
}

#contiener {
    display: grid;
    grid-template-columns: auto-fill 50px;
    grid-template-rows: auto-fill 50px;
}

aside {
}

.tools {
    position: fixed;
    top: 50px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tool {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.2s;
}

.tool img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

/* כשהכלי נבחר */
.tool.active {
    border-color: yellow;
    transform: scale(1.1);
}


#axe {
}

#pickaxe {
}

#shovel {
}

#shers {
}

.stacks {
}

.material {
}

#oak-leaves {
}

#oak-log {
}

#grass {
}

#dirt {
}

#stone {
}