body {
    
}

header {
}

.button {
    background-color: #87CEEB;
    padding: 10px;
}

.button button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.cell{
    background-color: #87CEEB
    
}
.grass{
    background-image: url(/utils/grass.webp);
    background-size: cover;
}
.dirt{
    background-image: url(/utils/dirt.webp);
    background-size: cover;
}
.stone{
    background-image: url(/utils/stone.webp);
    background-size: cover;
}
.bedrock{
    background-image: url(/utils/bedrock.webp);
    background-size: cover;
}

#contiener {
    width: 4800px;
    height: 1440px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 48px);
    grid-template-rows: repeat(auto-fill, 48px);
}

aside {
}

.tools {
}

.tool {
}

#axe {
}

#pickaxe {
}

#shovel {
}

#shers {
}

.stacks {
}

.material {
}

#oak-leaves {
}

#oak-log {
}

#grass {
}

#dirt {
}

#stone {
}